.currency_container {
  margin: 15px;
}

.currency_select {
  margin-left: 20px;
  height: 30px;
  border: 1px solid gray;
  outline: none;
}

.currency_input {
  height: 30px;
  width: 25vw;
  border-radius: 3px;
  outline: none;
  border: 1px solid grey;
}
